.CountryItem {
  display: flex;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  &:hover {
    background: #ccf1ff;
  }
  &__row {
    width: 50%;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;
  }
  &__selected {
    background: #6ec4ff;
    &:hover {
      background: #6ec4ff;
    }
  }
}