<div class="CountryItem" [class.CountryItem__selected]="data.selected" (click)="selectToggle(!data.selected)">
  <div class="CountryItem__row">{{ data.name }}</div>
  <div class="CountryItem__row">{{ data.capital }}</div>
</div>