.DeleteItems {
  margin-top: 20px;
  text-align: right;
  &__button {
    border: none;
    padding: 10px;
    background: #ff3d46;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    &:hover {
      opacity: 0.8;
    }
  }
}