.ModalBlock {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 500px;
  top: 100px;
  left: 50%;
  margin-left: -250px;
  background: #fff;
  z-index: 15;
  &__title {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
  }
  &__body {
    padding: 15px
  }
  &__close {
    font-family: Arial;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    &:hover {
      opacity: 0.8;
    }
  }
}
.ModalBackdrop {
  background: #000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}