<div class="ModalBlock" *ngIf="isOpen">
  <div class="ModalBlock__title">
    {{ modalTitle }}
    <div class="ModalBlock__close" (click)="closeByService()">X</div>
  </div>
  <div class="ModalBlock__body">
    <app-add-form></app-add-form>
  </div>
</div>
<div class="ModalBackdrop" (click)="closeByService()" *ngIf="isOpen"></div>