<div class="CountriesList" *ngIf="list.length > 0">
  <div *ngFor="let country of list">
    <app-country-item [data]="country"></app-country-item>
  </div>
</div>
<div class="NothingToShow" *ngIf="list.length === 0">
  There is nothing to show
</div>