.AddCountry {
  text-align: right;
  &__button {
    border: none;
    padding: 7px;
    background: #31a626;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    &:hover {
      opacity: 0.8;
    }
  }
}