<select class="CountrySort" #fieldsSelect (change)="sort(fieldsSelect.value)">
  <option *ngFor="let f of fieldList"
          [attr.selected]="field === f.value ? true : null"
          [value]="f.value">
    {{f.text}}
  </option>
</select>
