<div class="AppContainer">
    <div class="AppContainer__controls">
        <div class="AppContainer__control">
            <app-country-search></app-country-search>
        </div>
        <div class="AppContainer__control">
            <app-country-sort></app-country-sort>
        </div>
        <div class="AppContainer__control">
            <app-add-button></app-add-button>
        </div>
    </div>
    <div class="AppContainer__table">
        <app-country-list></app-country-list>
    </div>
    <app-delete-button></app-delete-button>
</div>
<app-modal id="add-country-modal" modalTitle="Add new country" ></app-modal>
