<div class="AddCountryForm">
  <div class="AddCountryForm__field">
    <input type="text" [(ngModel)]="name" placeholder="Input country name" />
  </div>
  <div class="AddCountryForm__field">
    <input type="text" [(ngModel)]="capital"  placeholder="Input country capital" />
  </div>
  <div class="AddCountryForm__notvalid" *ngIf="!isValid">
    Please fill all fields!
  </div>
  <div class="AddCountryForm__buttons">
    <button class="AddCountryForm__submit_btn" (click)="ok()">Ok</button>
    <button class="AddCountryForm__cancel_btn" (click)="cancel()">Cancel</button>
  </div>
</div>
