.AddCountryForm {
  &__field {
    margin-bottom: 15px;
    input {
      width: 100%;
      padding: 10px;
    }
  }
  &__buttons {
    text-align: right;
    button {
      border: none;
      padding: 10px;
      color: #fff;
      cursor: pointer;
      transition: all 0.2s ease 0s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__submit_btn {
    background: #31a626;
  }
  &__cancel_btn {
    background: #ff3d46;
  }
  &__notvalid {
    color: #ff3d46;
    padding: 15px 0;
  }
}